<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Temperature Aware Workload Management in Geo-distributed Datacenters.
			</span><br />
			<span class="authors">
				Hong Xu, Chen Feng, and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Trans. Parallel Distrib. Syst. 26(6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Reducing Electricity Demand Charge for Data Centers with Partial Execution.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc.~ACM SIGCOMM e-Energy</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				TinyFlow: Breaking Elephants Down Into Mice in Data Center Networks.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc.~IEEE LANMAN</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Dynamic Cloud Pricing for Revenue Maximization.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Trans. Cloud Computing 1(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Anchor: A Versatile and Efficient Framework for Resource Management in the Cloud.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Trans. Parallel Distrib. Syst. 24(6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A Study of Pricing for Cloud Resources.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM SIGMETRICS Performance Evaluation Review, Special Issue on Cloud Computing 40(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Carbon-aware Load Balancing for Geo-distributed Cloud Services.
			</span><br />
			<span class="authors">
				Zhi Zhou, Fangming Liu, Yong Xu, Ruolan Zou, Hong Xu, John C.S. Lui, and Hai Jin.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc.~IEEE MASCOTS</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Joint request mapping and response routing for geo-distributed cloud services.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc.~IEEE INFOCOM</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Temperature aware workload management in geo-distributed datacenters.
			</span><br />
			<span class="authors">
				Hong Xu, Chen Feng, and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc.~ACM Sigmetrics, Extended Abstract</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Temperature aware workload management in geo-distributed datacenters.
			</span><br />
			<span class="authors">
				Hong Xu, Chen Feng, and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc.~USENIX ICAC</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A General and Practical Datacenter Selection Framework for Cloud Services.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc.~IEEE CLOUD</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Cost Efficient Datacenter Selection for Cloud Services.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc.~IEEE ICCC</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Quality-Assured Cloud Bandwidth Auto-Scaling for Video-on-Demand Applications.
			</span><br />
			<span class="authors">
				Di Niu, Hong Xu, Baochun Li, and Shuqiao Zhao.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc.~IEEE INFOCOM</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Egalitarian Stable Matching for VM Migration in Cloud Computing.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">Unknown venue (type=conference)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Risk management for video-on-demand servers leveraging demand forecast.
			</span><br />
			<span class="authors">
				Di Niu, Hong Xu, Baochun Li, and Shuqiao Zhao.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc.~ACM Multimedia</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Seen As Stable Marriages.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc.~IEEE INFOCOM</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Efficient Resource Allocation with Flexible Channel Cooperation in OFDMA Cognitive Radio Networks.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc.~IEEE INFOCOM</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				XOR-Assisted Cooperative Diversity in OFDMA Wireless Networks: Optimization Framework and Approximation Algorithms.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc.~IEEE INFOCOM</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
