<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Exploiting Spatio-Temporal Diversity for Water Saving in Geo-Distributed Data Centers.
			</span><br />
			<span class="authors">
				Mohammad A. Islam, Kishwar Ahmed, Hong Xu, Nguyen H. Tran, Gang Quan, and Shaolei Ren.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Trans. Cloud Comput.</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Carbon-aware Online Control of Geo-distributed Cloud Services.
			</span><br />
			<span class="authors">
				Zhi Zhou, Fangming Liu, Ruolan Zou, Jiangchuan Liu, Hong Xu, and Hai Jin.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Trans. Parallel Distrib. Syst.</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Dynamic SDN Controller Assignment in Data Center Networks: Stable Matching with Transfers.
			</span><br />
			<span class="authors">
				Tao Wang, Fangming Liu, Jian Guo, and Hong Xu.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE INFOCOM</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Spot Transit: Cheaper Internet Transit for Elastic Traffic.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Trans. Services Comput. 8(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Temperature Aware Workload Management in Geo-distributed Datacenters.
			</span><br />
			<span class="authors">
				Hong Xu, Chen Feng, and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Trans. Parallel Distrib. Syst. 26(6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Towards Security-aware Virtual Network Embedding.
			</span><br />
			<span class="authors">
				Shuhao Liu, Zhiping Cai, Hong Xu, and Ming Xu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Elsevier Computer Networks</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Minimizing Transient Congestion during Network Update in Data Centers.
			</span><br />
			<span class="authors">
				Jiaqi Zheng, Hong Xu, Guihai Chen, and Haipeng Dai.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE ICNP</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				An Optimization Framework for XOR-Assisted Cooperative Relaying in Cellular Networks.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Trans. Mobile Computing 26(6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Security-aware Virtual Network Embedding.
			</span><br />
			<span class="authors">
				Shuhao Liu, Zhiping Cai, Hong Xu, and Ming Xu.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE ICC</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				RepFlow: Minimizing Flow Completion Times with Replicated Flows in Data Centers.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE INFOCOM</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Expeditus: Distributed Load Balancing with Global Congestion Information in Data Center Networks.
			</span><br />
			<span class="authors">
				Peng Wang and Hong Xu.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM CoNEXT Student Workshop</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Reducing Electricity Demand Charge for Data Centers with Partial Execution.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM SIGCOMM e-Energy</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				TinyFlow: Breaking Elephants Down Into Mice in Data Center Networks.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE LANMAN</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Dynamic Cloud Pricing for Revenue Maximization.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Trans. Cloud Computing 1(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Resource Allocation with Flexible Channel Cooperation in OFDMA Cognitive Radio Networks.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Trans. Mobile Computing 12(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A Study of Pricing for Cloud Resources.
			</span><br />
			<span class="authors">
				Hong Xu and Baochun Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM SIGMETRICS Performance Evaluation Review, Special Issue on Cloud Computing 40(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
